extends ../layouts/default.pug

block page-header
  h2 Place Your Bid

block content
  ol
    - if (stations.length)
    table(class="table")
      thead
        tr
          th(scope="col") #
          th(scope="col") Station Name
          th(scope="col") In Coach Price ($)
          th(scope="col") Bill Board ($)
          th(scope="col") Entries 
          th(scope="col") Exits
          th(scope="col") Place Bid On In-Coach Price
          th(scope="col") Place Bid on Bill Board Price
      tbody
        each station, index in stations
          tr
            th #{index+1}
            td #{station.Station_name}
            td #{station.price1} 
            td #{station.price2}
            td #{station.entries} 
            td #{station.exits}
            td
              button Place Bid 
            td
              button Place Bid 